<header>
    <h1>{{title}}</h1>
    <h4>Check your recent match stats</h4>

    <div id="header-links">
        <a href="#">Home</a> |
        <a href="#"> About</a> |
        <a href="#"> GitHub</a>
    </div>
</header>